@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coastal Dealership</h1>
    <p class="lead">Your one-stop shop for all your car needs.</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome!</h2>
        <p>
            Coastal Dealership is your one-stop shop for cars and car accessories.  Unlike other car dealerships that specialize in one brand, we carry it all!  Don't think too much about how it doesn't logistically make sense to carry every brand, just think about the convenience!  No more jumping around from dealership to dealership to test every car, do it all here.  You can use our website to see what inventory we have, and even create an account to purchase one, and then come pick it up.
        </p>
        <p><a class="btn btn-default" href="/Cars">Shop Now &raquo;</a></p>
    </div>
</div>